<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
    <header>
        <h1>Travel App</h1>
    </header>

    <main>
        <aside>
            <form id="travelForm">

                <div>
                    <label for="city">Location</label>
                    <input type="text" id="city" aria-describedby="location" placeholder="Enter City Name Here">
                </div>
                <div>
                    <label for="departure-date">Date</label>
                    <input type="date" id="departure-date" aria-describedby="date" placeholder="Enter your travel date here" />
                </div>

                <button type="submit" id="btnSubmit" class="btn-plan">Submit</button>
            </form>

            <section>
                <h2>Your Current Search Details</h2>

                <div id="search-result" class="display-result">
                    <div class="card-content">
                        <span>
                            <img id="trip-image" src="#" alt="trip city photo" />
                        </span>
                        <div>
                            <h3 id="trip-city"></h3>
                            <p id="weather"></p>
                            <p id="trip-countdown"></p>
                        </div>
                    </div>
                    <button type="submit" id="buttonSave">Save</button>
                </div>
            </section>
        </aside>

        <section>
            <h2>Your Trip Details</h2>

            <span id="empty-message">Add a trip to show your details here</span>

            <ul id="trips"></ul>
        </section>
    </main>

    <footer>
        <p>All Rights Reserved 2020</p>
    </footer>

    <!-- Add Service Worker -->
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>
