$primary: #457B9D;
$primary-light: #1d3557;
$primary-dark: #E63946;

$secondary: #1d3557;
$secondary-light: #EF8089;
$secondary-dark: #91121D;

$primary-text: #F1FAEE;
$secondary-text: #000000;

$background-dark: #a8dadc;
$background-light: #f1faee;
