@import './aside.scss';
@import './trips.scss';

main {
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: $background-dark;
    color: $secondary-text;

    > aside {
        display: flex;
        flex-direction: column;
        flex:1;
        align-items: center;
        justify-content: space-between;
    }

    section {
        display: flex;
        flex-direction: column;
        flex:2;
        align-items: center;
    }

    @media screen and (max-width: 720px) {
        display: flex;
        flex-direction: column;
    }
}